<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div> {{ message }} </div>
        {% endfor %}
    {% endif %} 
    <div>
        <form action="/users/register" method="POST">
            {% csrf_token %}
            <legend> Join Today </legend>
            {{ form.as_p }}
            <div>
                <button type="submit"> Register </button>
            </div>
        </form>
        <div>
            <a href="/users/login"> Already have an account? </a>
             
        </div>
    </div>
</body>
</html>