{% extends "main/base.html"%}
     {% block content %}           
                
            <h1 class="fs-4" >Affordeals is your reliable one stop online <br> shop for great deals on a <br>variety of products, from tech, 
                    toeducation,<br> all the way to agricultural products.<br> Gain access to great deals for both new and used <br>
                    products in one place!!!
                    Affordeal achieves this by<br> allowing users who have used products <br>
                    to advertise them, that they no longer need to<br> advertise, and users that may need them to purchase.<br> This brings about a mutual gain for all parties involved.
            </h1>
            <p> Register now to check out our<br> latest products and offers!!</p>
    {% endblock content %}
          