{% extends "main/base.html"%}
{% load crispy_forms_tags %}
{% block content %}

<h1>Welcome to Affordeals, your one stop shop <br>for affordable used and new products.</h1>

<div class="row">
    <div class="col">
        
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary btn-dark" type="submit">Sign Up</button>
            </div>
      </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login here.</a></p>
    </div>
</div>
    
    

{% endblock content %}