{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  
            <title>User Login Form</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="{% static 'style/login.css' %}">
          </head>
          <body>

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="form-container">
                    <h2>User Login</h2>
                    <form method="POST">
                      {% csrf_token %}
                      {{ form|crispy }}
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary">Login</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
    </div>
    
{% endblock content %}